.sidebarContainer {
  width: 312px;
  height: 1438px;
  border-radius: 16px;
  opacity: 1;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 18px;
}

.sotryBook {
  width: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 53px;
  height: 53px;
  border-radius: 4px;
}

.img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.storyText {
  width: 121px;
  height: 29px;
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storyhostManue {
  display: flex;
  justify-content: space-between;
}

.shoeMenue {
  width: 80px;
  height: 1438px;
  border-radius: 16px;
  background-color: #efefef;
  padding: 40px 18px;
}

.shoeManueLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.linksList {
  width: 100%;
  height: 367.5px;
  display: flex;
  flex-direction: column;
}

.links {
  width: 100%;
  height: 52px;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

.imgLinks {
  width: 20px;
  height: 20px;
}

.imgLinks img {
  width: 100%;
  height: 100%;
}

.linkText {
  font-family: "Lato";
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 5px;
}

.navlinks {
  text-decoration: none;
  color: #2b292d;
}

.lowerContainer {
  width: 100%;
  height: 157.5px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.commonLowercontent {
  width: 100%;
  height: 52.5px;
  border-radius: 8px;
  padding: 16px;
}

.logoutWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
