.sidebarContainer {
   width: 312px; /* or whatever width fits */
  height: 100vh;
  border-radius: 16px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 15px;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 40px;
}


.sotryBook {
  width: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 53px;
  height: 53px;
  border-radius: 4px;
}

.img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.upperContainer{
  margin-bottom:-30px;
}
.storyText {
  width: 121px;
  height: 29px;
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.storyhostManue {
  display: flex;
  justify-content: space-between;
}

.shoeMenue {
  height: 100vh;
  border-radius: 16px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000
}

.shoeManueLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menue{
  margin-top: 10px;
}

.linksList {
  width: 100%;
  height: 367.5px;
  display: flex;
  flex-direction: column;
}

.links {
  width: 100%;
  height: 52px;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

.imgLinks {
  width: 20px;
  height: 20px;
}

.imgLinks img {
  width: 100%;
  height: 100%;
}

.linkText {
  font-family: "Lato";
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 3px;
  margin-top: 23px ;
}

.navlinks {
  text-decoration: none;
  color: #2b292d;
}

.lowerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 32px; */
  /* margin-top: -100px; */

}

.commonLowercontent {
  width: 100%;
  height: 52.5px;
  border-radius: 8px;
  padding: 16px;
}
.suport{
  margin-bottom: 60px;
}
.logoutWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
