
.bg {
  position: relative;
  background: #ffffff;
  min-height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 40px;
  clip-path: polygon(4% 2%, 100% 0, 100% 100%, 0 92%);
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 110px;
}


.landingWrapper {
  background: #f4f5ff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}



.signUpBtn {
    background-color: #4B7BFF;
    border: none;
    font-weight: 500;
    width: 200px;
    padding: 10px;
    color: white;
}

.line {
    align-items: center;
    
    display: flex;
    gap: 10px;
}

.line2 {
    width: 82px;
    height: 5px;
    border-radius: 20px;
    background-color: #f8b400;
}

.signinBtn {
    border: 1px solid #4B7BFF;
    font-weight: 500;
    width: 200px;
    border-radius: 5px;
    color: #4B7BFF;
}

.signinBtn:hover {
    background-color: #4B7BFF;
    color: white;
}

.main {
    align-items: center;
    width: 85%;
    margin: auto;
}

.signUpBtn:hover {
    background-color: #3A68E5;
}

.guestLink {
    color: #6A8CFF;
    text-decoration: none;
    font-weight: 500;
}

.guestLink:hover {
    text-decoration: underline;
}

.heroImage {
    width: 100%;
    max-width: 455px;
    height: 500px;
}

.placeholderCard {
    background-color: #b9babb;
    border: none;
    border-radius: 12px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.placeholderCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
}

.placeholderCard i {
    font-size: 2rem;
    color: #525457;
}

.footer {
  position: relative;
  margin-top: 3rem;
  padding: 40px 20px;
  background: linear-gradient(135deg, #f9f9f9 0%, #e3e6f8 100%);
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}