.landingWrapper {
  background: #f4f5ff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.bg {
  background: #ffffff;
  width: 90%;
  max-width: 1200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  padding: 30px 20px;
}

.main {
  flex: 1;
  align-items: center;
}

.signUpBtn {
  background-color: #4b7bff;
  border: none;
  font-weight: 500;
  min-width: 120px;
  padding: 8px;
  color: white;
  font-size: 0.9rem;
  border-radius: 6px;
}

.signUpBtn:hover {
  background-color: #3a68e5;
}

.signinBtn {
  border: 1px solid #4b7bff;
  font-weight: 500;
  min-width: 120px;
  padding: 8px;
  font-size: 0.9rem;
  border-radius: 6px;
  color: #4b7bff;
  background: transparent;
  transition: all 0.3s ease;
}

.signinBtn:hover {
  background-color: #4b7bff;
  color: white;
}

.line {
  align-items: center;
  display: flex;
  gap: 8px;
}

.line2 {
  width: 60px;
  height: 4px;
  border-radius: 20px;
  background-color: #f8b400;
}

.guestLink {
  color: #6a8cff;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  margin-right: 80%;
}

.guestLink:hover {
  text-decoration: underline;
}

.heroImage {
  width: 80%;
  max-width: 300px;
  height: auto;
}

.placeholderCard {
  width: 100%;
  aspect-ratio: 0.9; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #b9babb;
  border: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.placeholderCard i {
  font-size: 1.4rem; 
  color: #525457;
}

.footer {
  width: 95%; 
  max-width: 100%;            
  background: linear-gradient(135deg, #f9f9f9 0%, #e3e6f8 100%);
  border-radius: 20px;
  padding: 10px 15px; 
  margin-top: 30px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}
