.createChapter {
  padding: 40px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.header {
  font-weight: 700;
  font-size: 26px;
  color: #3a3a3a;
  margin-bottom: 15px;
}

.divider {
  border: none;  
  border-top: 1px solid #6F8BDF;  
  margin-bottom: 30px;
  width: 100vw;
}

.subHeader {
  font-weight: 600;
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.formGroup {
  position: relative;
  color: #EFEFEF;
}

.icon {
  position: absolute;
  top: 12px;
  left: 15px;
  color: #2B292D;
  font-size: 16px;
  background: #EFEFEF;
}

.input,
.textArea {
  padding-left: 45px ;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: all 0.2s ease;
  font-size: 15px;
}

.input {
  height: 48px;
}

.textArea {
  resize: none;
  min-height: 150px;
}


.uploadCard {
  height: 216px;
  width: 265px;
  background: #EFEFEF;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #A2A2A2;
  font-weight: 500;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.uploadCard:hover {
  transform: translateY(-3px);
  background: #EFEFEF;
  color: #A2A2A2;
  box-shadow: 0 4px 12px rgba(111, 139, 223, 0.25);
}

.uploadIcon {
  font-size: 26px;
  margin-bottom: 10px;
}

.characterRow {
  margin-top: 25px;
  margin-bottom: 40px;
}

.characterCard {
  background-color: #f9f9fb;
  border: none;
  border-radius: 12px;
  padding: 18px;
  transition: all 0.3s ease;
}

.characterCard:hover {
  background-color: #eef1ff;
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(111, 139, 223, 0.15);
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  gap: 20px;
}

.characterTitle {
  font-weight: 600;
  color: #333;
}

.createBtn {
  background-color: #6F8BDF;
  border: none;
  border-radius: 8px;
  padding: 7px 16px;
  transition: all 0.3s ease;
  height:  35px;
  white-space: nowrap;
  display: flex;              
  align-items: center;         
  justify-content: center;     
  text-align: center;          
  white-space: nowrap;          
  width: 100%;                 
}

.createBtn:hover {
  background-color: #4a5ed8;
}

.bottomButtons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 30px;
  justify-content: flex-start;
}

.saveBtn,
.publishBtn {
  border-radius: 8px;
  padding: 10px 22px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.saveBtn {
  background-color: #6177ff;
  border: none;
}

.saveBtn:hover {
  background-color: #4a5ed8;
}

.publishBtn {
  background-color: transparent;
  color: #6177ff;
  border: 1.5px solid #6177ff;
}

.publishBtn:hover {
  background-color:white ;
  background: #6F8BDF;

}
