.container {
  display: flex;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1;
  padding: 20px 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 14px; 
}

.searchBar {
  display: flex;
  align-items: center;
  position: relative;
  width: 250px;
 
}

.searchIcon {
  position: absolute;
  left: 10px;
  color: #aaa;
}

.input {
  padding-left: 35px;
  border-radius: 8px;
}

.newNovelBtn {
  background-color: #6177ff !important;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
   margin-right: 18px;
}

.lineDivider{
  color:#6F8BDF;
  width: 100%;

}

.content {
  margin-top: 30px;
}

.novelGrid {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 15px;
   overflow-x: auto;
}

.novelCard {
  width: 140px;
  height: 180px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 140px;
}

.imagePlaceholder {
  font-size: 24px;
  color: #aaa;
}
