body {
font-family: 'Poppins', sans-serif;
background-color: #2B292D33;
display: flex;
justify-content: center;
align-items: center;
height: 130vh;
margin: 0;
}
.createContainer {
background-color: #fff;
width: 726px;
height: 814px;
top: 105px;
left: 356px;
background-color: #FFFFFF;
border-radius: 16px;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
text-align: center;
}

.crossIcon {
   margin-left: 680px; 
   margin-top: 10px;
   width: 24px;
   height: 24px;
   top: 16px;
   border: 1.5px;
}


.illustration img {
width: 193px;
height: 165;
height: auto;
margin-bottom: 20px;
}


.title {
font-size: 26px;
font-weight: 700;
color: #1c1c1c;
margin-bottom: 20px;
}


.inputField {
width: 70%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 8px;
font-size: 14px;
margin-bottom: 15px;
outline: none;
margin-left: 100px;
}


.uploadBtn {
width: 560px;
height: 50px;
border-radius: 13.3px;
border: none;
background-color: #6F8BDF;
color: white;
 padding-top: 12.26px;
    padding-right: 61.28px;
    padding-bottom: 12.28px;
    padding-left: 61.28;
    margin-top: 30px;
}

.btn {
    width: 281px;
    height: 50px;
    border-radius: 13.3px;
    background-color: #6f8bdf;
    color: white;
    margin-left: 13px;
    margin-top: 60px;
}
.uploadedTitle {
font-size: 14px;
color: #333;
text-align: left;
margin-bottom: 08px;
margin-left: 70px;
padding: 10px;
margin-top: 30px;
}
.uploadedBox {
  width: 560px;
  height: 116px;
  border-radius: 8px;
  border: 1px;
  background-color: #EFEFEF;
  margin-left: 80px;
}
.documentImg {
  width: 19.04px;
  height: 20px;
  top: 16px;
  left: 16px;
  margin-right: 520px;
  margin-top: 20px;

  
}
.text {
  width: 479.09px;
  height: 76px;
  top: 16.5px;
  left: 50.91px;
  margin-left: 30px;
  margin-top: -20px;
}
.uploadedBox::after {
  content: "";
  position: absolute;
  border-radius: 4px;
  width: 8px;
  height: 90px;
  background: linear-gradient(to bottom, #007bff 50%, #000 50%);
  margin-top: -100px;
  margin-left: 260px;
}
.inputContainer {
  position: relative;
  width: 560px;
  height: 52px;
 left: -20px;
}
.inputImg {
  position: absolute;
  top: 35%;
  left: 12px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  pointer-events: none;
  margin-left: 100px; 
}

.inputField {
  width: 100%;
  padding: 10px 12px 10px 50px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}










