.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.popup {
  background: white;
  border-radius: 20px;
  padding: 2rem;
  Width: 600px;
  text-align: center;
  position: relative;
  margin: 0 15px;
}
.popup h5{
    font-size: 22px !important;
}
.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  border: none;
  background: none;
  color: #333;
  cursor: pointer;
}

.popupImage {
  width: 50%;
  object-fit: cover;
  margin: 0 auto 20px;
  display: block;
}

.searchGroup {
  position: relative;
  width: 100%;
  margin-top:30px;
}

.searchInput {
  background-color: #f5f5f5; 
  border: none;
  border-radius: 8px;
  padding-left: 40px; 
  height: 45px;
  box-shadow: none !important;
  transition: all 0.2s ease;
}

.searchInput:focus {
  background-color: #f5f5f5 !important;
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px #6f8bdf33; 
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  font-size: 18px;
}

.startChatBtn {
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
  background-color: #6F8BDF;
  margin-top: 20px;

}
.startChatBtn:hover {
  background-color: rgb(110, 132, 199);
}
