.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}


.popup {
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  width: 90%;
  max-width: 450px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: popupShow 0.25s ease-out;
}

.popup h5{
    font-size: 22px !important;
}
.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}

.uploadLabel {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.inputGroupCustom {
  background: #f7f7f7;
  border-radius: 8px;
  padding: 8px 12px;
  margin-top: 0 !important;
}

.icon {
  color: #535557;
  margin-right: 10px;
  flex-shrink: 0;
  font-size: 1.2rem;
}

.searchBox {
  background: #f9f9f9;
  border-radius: 8px;
  margin-top: 10px !important;
}

.createBtn {
  background-color: #6f8bdf;
  border: none;
  padding: 10px 40px;
  border-radius: 8px;
  font-weight: 500;
}


.smallImg{
  width: 45%;
  display: block;
  margin: 0 auto;
  margin-bottom: 7px;
}

.imageIcon{
    color: rgb(137, 137, 137);
}



.roundUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hiddenInput {
  display: none;
}

.uploadCircle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #6f8bdf;
  color: #6f8bdf;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.uploadCircle:hover {
  background-color: #f5f7ff;
  border-color: #4e6bda;
  color: #4e6bda;
}

.uploadLabel {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
  text-align: center;
}

.searchContainer {
  width: 100%;
  max-width: 400px; 
  margin: 0 auto; 
}

.searchIcon {
  font-size: 1.3rem;
  color: #6c757d;
  cursor: pointer;
}

.searchBox {
  flex: 1;
  border-radius: 7px;
  padding-left: 15px;
  height: 38px;
  margin-top: 0 !important;
}









.previewImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.selectedContact {
  background-color: #e6f3ff;
}

.contactList {
  max-height: 150px;
  overflow-y: auto;
}
