.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(4px); 
}

.popup {
  position: relative;
  background-color: #fff;
  padding: 2rem 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 1.25rem;
  background: white;
  border: 1px solid black;
  cursor: pointer;
  color: black;
  width: 36px;
  height: 36px;
  border-radius: 20%;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease, transform 0.2s ease;
}

.closeBtn:hover {
  background: #f0f0f0;
  transform: scale(1.1);
}


.popupImage {
  display: block;
  width: 70%;
  margin: 0 auto 1rem auto;
  border-radius: 0.5rem;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; 
  flex-wrap: nowrap; 
  margin-top: 1rem;
}

.buttonGroup button {
  font-size:14px;
  flex: 1;
  max-width: 220px; 
}

.btn1 {
  background-color: #fff;
  color: #6f8bdf;
  border: 1px solid #6f8bdf;
}
.btn1:hover {
   background-color: #6f8bdf;
  color: white;
  border: 1px solid #fff;
}

.btn2 {
  background-color: #fff;
  color: #6f8bdf;
  border: 1px solid #6f8bdf;
}
.btn2:hover {
  background-color: #6f8bdf;
  color: white;
  border: 1px solid #fff;
}
.img {
  display: block;
  margin: 0 auto 1.5rem auto;
  width: 70%;
  height: auto;
  border-radius: 0.5rem;
}