.section {
  margin-bottom: 40px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #2b292d;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  width: 120px;
  height: 160px;
  background-color: #efefef;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 60%;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .cardContainer {
    justify-content: center;
  }

  .card {
    width: 100px;
    height: 140px;
  }
}
