
.wrapper {
  background: #f5f6f7;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  
}

.curvedContainer {
  position: relative;
  background: #ffffff;
  width: 85%;
  max-width: 1000px;
  padding: 60px 70px;
  overflow: hidden;
  clip-path: polygon(4% 2%, 100% 0, 100% 100%, 0 92%);
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 110px;
}
.header {
  margin-bottom: 30px;
  position: relative;
}

.backButton {
  border: none;
  border-radius: 20%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  
  background-color:#6f8bdf;
  color: white;
}

.title {
    margin-top: 10px;
  font-size: 2rem;
  font-weight: 700;
  color: #1e1e1e;
  margin-bottom: 0.5rem;
}
.subtitleWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  margin-top: 10px;
}

.underline {
  margin-left: 5px;
  margin-top: 15px;  
  width: 90px;
  height: 4px;
  background-color: #f8b400;
  border-radius: 10px;
}
.content h4 {
  font-weight: 600;
  color: #333;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.content p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  font-size: 0.95rem;
}

@media (max-width: 768px) {
  .curvedContainer {
    width: 95%;
    padding: 40px 25px;
    clip-path: none;
    border-radius: 20px;
    
  }
  

  .backButton {
    position: static;
    margin-bottom: 10px;
  }
}
