.curvedContainer {
  position: relative;
 
  max-width: 1000px;
  padding: 60px 70px;
  background: #ffffff;
  clip-path: polygon(4% 2%, 100% 0, 100% 100%, 0 98%);
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 110px;
  overflow: hidden;
}

.backButton {
  border: none;
  border-radius: 20%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  cursor: pointer;
  background-color: #6f8bdf;
  color: white;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #1e1e1e;
}

.subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 10px;
}

.underline {
  margin-top: 15px;
  width: 90px;
  height: 4px;
  background-color: #f8b400;
  border-radius: 10px;
}
.content{
  margin-left:10px;
}
.titlesection{
  margin-left: 10px;
}

.content h4 {
  font-weight: 600;
  color: #333;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.content p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  font-size: 0.95rem;
}
