.landingWrapper {
  background: #f4f5ff;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bg {
  background: #ffffff;
  width: 80%;
  height: 88vh; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  padding: 30px 40px;
 
}

.main {
  flex: 1;
  align-items: center;
}

.signUpBtn {
  background-color: #4b7bff;
  border: none;
  font-weight: 500;
  width: 150px;
  padding: 8px;
  color: white;
  font-size: 0.9rem;
  border-radius: 6px;
}

.signUpBtn:hover {
  background-color: #3a68e5;
}

.signinBtn {
  border: 1px solid #4b7bff;
  font-weight: 500;
  width: 150px;
  padding: 8px;
  font-size: 0.9rem;
  border-radius: 6px;
  color: #4b7bff;
  background: transparent;
  transition: all 0.3s ease;
}

.signinBtn:hover {
  background-color: #4b7bff;
  color: white;
}

.line {
  align-items: center;
  display: flex;
  gap: 8px;
}

.line2 {
  width: 60px;
  height: 4px;
  border-radius: 20px;
  background-color: #f8b400;
}

.guestLink {
  color: #6a8cff;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
}

.guestLink:hover {
  text-decoration: underline;
}

.heroImage {
  width: 80%;
  max-width: 300px;
  height: auto;
}

.placeholderCard {
  background-color: #b9babb;
  border: none;
  border-radius: 10px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.placeholderCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.07);
}

.placeholderCard i {
  font-size: 1.5rem;
  color: #525457;
}

.footer {
  width:90%;
  background: linear-gradient(135deg, #f9f9f9 0%, #e3e6f8 100%);
  border-radius: 20px;
  padding: 15px 20px;
}
