
 .landingWrapper {
  background-color: #FFFFFF;
  min-height: 100vh;
  overflow-x: hidden;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);

}
.signUpBtn {
  background-color: #4B7BFF;
  border: none;
  font-weight: 500;
  width: 200px;
  padding: 10px;
    color: white;
}
.line{
    align-items: center;
    /* justify-content: center; */
    display: flex;
    gap: 10px;
}
.line2{
        width: 82px;
        
        height: 5px;
        border-radius: 20px;
        background-color: yellow;
}
.signinBtn{
  border: 1px solid #4B7BFF;
  font-weight: 500;
  width: 200px;
  border-radius: 5px;
  color: #4B7BFF;
}
.signinBtn:hover{
      background-color: #4B7BFF;
      color: white;
}
.main{
       align-items: center;
       width: 85%;
       margin: auto;
}
.signUpBtn:hover {
  background-color: #3A68E5;
}
.guestLink {
  color: #6A8CFF;
  text-decoration: none;
  font-weight: 500;
}
.guestLink:hover {
  text-decoration: underline;
}
.heroImage {
  width: 100%;
  max-width: 455px;
  height: 500px;
}
.placeholderCard {
  background-color: #D3D3D3;
  border: none;
  border-radius: 12px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.placeholderCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
}
.placeholderCard i {
  font-size: 2rem;
  color: #5F5F9F;
}
.footer{
          width: auto;
         margin-top: 3rem;
         padding: 20px;
          background-color: rgb(228, 228, 228);
          border-radius: 7px;
}