.homeContainer {
  padding: 20px 30px;
  background-color: #fff;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}
.homeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homeTitle {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0;
}
.searchBar {
  width: 240px;
}
.searchInput {
  background-color: #F5F5F5;
  border-radius: 8px;
  border: none;
  padding: 6px 12px;
}
.divider {
  margin-top: 12px;
  border-top: 1px solid #ccccccae;
}
.section {
  margin-top: 25px;
}
.sectionTitle {
  font-weight: 600;
  margin-bottom: 15px;
}
.cardsRow {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.placeholderCard {
  background-color: #F2F2F2;
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaaaaaa0;
  font-size: 2rem;
}
.workroomCard {
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  border-radius: 10px;
  transition: transform 0.2s ease;
}
.workroomCard:hover {
  transform: translateY(-4px);
}
.workroomImg {
  background-color: #EAEAEA;
  border-radius: 8px 8px 0 0;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7B7B7B;
  font-size: 2rem;
}
.workroomCard .cardBody {
  text-align: center;
}
.enterLink {
  text-decoration: none;
  color: #3B57F5;
  font-size: 0.9rem;
}
.enterLink:hover {
  text-decoration: underline;
}
.cardsRow {
  justify-content: start;
}
.cardCustom {
  border-radius: 12px;
  background-color: #F8F9FA;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.cardCustom:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
}
.imagePlaceholder {
  background-color: #D3D3D3;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.imagePlaceholder i {
  font-size: 2.5rem;
  color: #5F5F9F;
}
.link {
  color: #5B7BFF;
  text-decoration: none;
  font-weight: 500;
}
.link:hover {
  text-decoration: underline;
}






.merge{
  display: flex;
}