
/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  overflow: hidden;         
  font-family: sans-serif;  
} */


.container {
    width: 276px;
    height: 357px;
    top: 434px;
    left: 1015px;
    border-radius: 16px;
   margin-bottom: 300px;
   background-color: lightgrey;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 12px;
  transition: background-color 0.2s ease;
  cursor: pointer;

}
.avatar {
  width: 32px;
  height: 32px;
  top: 116;
  left: 20px;
  
  border-radius: 100px;
}

.name {
  
  width: 77px;
  height: 22px;
  top: 13px;
  left: 68px;
  font-size: 09px;
}
