.pageWrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  color: white;
}

.sidebarContainer {
  background-color: #fff;
  transition: all 0.3s ease;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1050;
}

.sidebarOpen {
  width: 250px;
}

.sidebarClosed {
  width: 0;
  margin-left: 35px;
}
.mainContent {
  flex-grow: 1;
  transition: all 0.3s ease;
  padding: 20px;
  width: 100%;
  min-width: 0;
}

.contentShifted {
  margin-left: 0;
}

.container {
  max-width: 1100px;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.backBtn {
  border: none;
  border-radius: 20%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  cursor: pointer;
  background-color: #6f8bdf;
  color: white;
}

.divider {
  height: 2px;
  background-color: #6f8bdf;
  border-radius: 2px;
  margin-bottom: 25px;
}

.characterBox,
.completedBox,
.upcomingBox {
  background: #efefef;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 25px;
}

.sectionTitle {
  font-weight: 600;
  margin-bottom: 15px;
}

.chapterCard {
 
  border-radius: 8px;
  padding: 15px;
  text-align: left;
  transition: 0.3s;
}

.chapterCard:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.date {
  font-size: 13px;
  color: #777;
  margin-bottom: 5px;
}

.readLink {
  color: #6f8bdf;
  text-decoration: none;
  font-weight: 500;
  border:none;
}

.readLink:hover {
  text-decoration: underline;
}

.btn {
 
  margin-top: 25px;
  margin-left: 15px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 13px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.primary {
  width: 250px; 
  background-color: #667cf7;
  border: 1px solid #667cf7;
  color: #fff;
  
}

.primary:hover {
  background-color: #5c70e3;
  transform: translateY(-2px);
}

.secondary {
   width: 150px; 
  background-color: transparent;
  color: #4d5b9e;
  border: 1px solid #667cf7;
  
}

.secondary:hover {
  transform: translateY(-2px);
}

.icon {
  font-size: 16px;
 
}
