 
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 50;
}
.span{
        color: #3B57F5;
}
.wrapper {
  display: flex;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
}
.Body{
        display: none;
}
.icon {
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 392px;
  height: 470px;
}



.author {
  color: #6f8bdf;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 15px;
}

.stats {
  display: flex;
  gap: 20px;
  color: #f6b21a;
  font-weight: 500;

}

.icon {
  margin-right: 5px;
  vertical-align: middle;
}



.text {
  position: relative;
  width: 516px;
  height: 470px;
  background-color: #ffffff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.genre {
  color: #3b5cc9;
  font-size: 14px;
  margin-bottom: 6px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}



.desc {
  color: #555;
  font-size: 14px;
  line-height: 1.6;
  overflow-y: auto;
}
.buttons {
  display: flex;
  gap: 15px;
}

.prevBtn {
  background-color: #6f8bdf;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  cursor: pointer;
}

.enterBtn {
  background: transparent;
  border: 2px solid #6f8bdf;
  border-radius: 12px;
  padding: 12px 20px;
  cursor: pointer;
  color: #6f8bdf;
  font-weight: 500;
}

.applyBtn {
  width: 100%;
  background-color: #4e73df;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 0 0 16px 0;
  padding: 12px 0;
  cursor: pointer;
}
.applyBtnText {
 background: transparent;
 border: none;
 color: #efefef;
}

.applyBtn:hover {
  background-color: #3b5cc9;
}
.like{
       color:#F6B21A ;   
}








