


.card {
  width: 726px;
  height: 481px;
  top: 272px;
  left: 357px;
  border-radius: 16px;
  background-color: white;
}
.fram1 {
  position: absolute;
  top: 10px;      
  right: 10px;   
  width: 30px;    
  height: auto;
  margin-right: 310px;
  margin-top: 80px;
}

.img2 {
  width: 237.93px;
  height: 160.85px;
  top: 116.82;
  left: 601px;
  margin-left: 230px;
  margin-top: 30px;
}

 .input {
    display: flex;
  flex-direction: row; 
  width: 560px;
  height: 52px;
  border-radius: 8px;
  padding: 16px;
  gap: 16px;
  background-color: lightgrey;
  margin-left: 90px;
 }
 .icon {
    width: 20px;
    height: 20px;
 }

 .input input {
  background-color: transparent; 
  border: none;                  
  color: #fff;               
  outline: none;                 
}

.input2 {
    display: flex;
    flex-direction: row;
    width: 281px;
    height: 50px;
    border-radius: 13.13px;
    padding-top: 12.26px;
    padding-right: 61.28px;
    padding-bottom: 12.26px;
    padding-left: 61.28px;
    gap: 8.75px;
    background-color: #6F8BDF;
    margin-top: 40px;
    margin-left: 230px;
}
.input2 input::placeholder {
  color: #fff;       
   opacity: 1;
   padding-left: 40px;
}
.input2 input {
  background-color: transparent;  
  border: none;                  
  outline: none;                  
  color: #fff;                   
} 







  .title {
  font-size: 32px;
  color: #333;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-align: center;
} 
 
















