
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.span{
        color: #3B57F5;
}
.wrapper {
  display: flex;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
}
.Body{
        display: none;
}
.icon {
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 392px;
  height: 470px;
}

.icon img {
  max-width: 150px;
  opacity: 0.8;
}

.text {
  position: relative;
  width: 516px;
  height: 470px;
  background-color: #ffffff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.genre {
  color: #6c6c6c;
  font-size: 14px;
  margin-bottom: 6px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.authors {
  color: #4f4f4f;
  font-size: 14px;
  margin-bottom: 12px;
}

.desc {
  color: #555;
  font-size: 14px;
  line-height: 1.6;
  overflow-y: auto;
}

.applyBtn {
  width: 100%;
  background-color: #4e73df;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 0 0 16px 0;
  padding: 12px 0;
  cursor: pointer;
  /* transition: 0.2s; */
}

.applyBtn:hover {
  background-color: #3b5cc9;
}
