.homeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homeTitle {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0;
}
.searchBar {
  width: 240px;
}
.searchInput {
  background-color: #F5F5F5;
  border-radius: 8px;
  border: none;
  padding: 6px 12px;
}