.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #fff;

}

.title {
  font-size: 20px;
  font-weight: 600;
}

.searchCreate {
  display: flex;
  align-items: center;
  flex-wrap: nowrapf;
  gap: 15px;
}

.searchBar {
  width: 240px;
}

.createBtn {
  background-color: #7e9dfd;
  border: none;
  padding: 8px 18px;
  font-weight: 500;
  border-radius: 8px;
}

.blueLine {
  border: none;
  height: 2px;
  background-color: #039cef;
  margin: 0 30px;
 
}
