.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}
.container {
  max-width: 1100px;
  margin: 30px auto;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #6f8bdf;
  border-radius: 2px;
}
.title{
  font-weight: 600;
  margin-top: 10px;
}

.backBtn {
  border: none;
  border-radius: 20%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  cursor: pointer;
  background-color: #6f8bdf;
  color: white;
}

.characterBox,
.completedBox,
.upcomingBox {
  background: #efefef;
  border-radius: 8px;
  padding: 20px;
}

.sectionTitle {
  font-weight: 600;
  margin-bottom: 15px;
}

.date {
  font-size: 13px;
  color: #777;
  margin-bottom: 5px;
}

.readLink {
  color: #6f8bdf;
  text-decoration: none;
  font-weight: 500;
 
}
.readLink:hover {
  text-decoration: underline;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.primary {
  background-color: #667cf7;
  color: #fff;
}
.primary:hover {
  background-color: #5c70e3;
  transform: translateY(-2px);
}

.secondary {
  background-color: transparent;
  color: #4d5b9e;
  border: 1px solid #667cf7;
}
.secondary:hover {
  transform: translateY(-2px);
}



.shifted {
  margin-left: 250px;
}

.icon {
  font-size: 16px;
}
