.container {
    width: 276px;
    height: 357px;
    top: 434px;
    left: 1015px;
    border-radius: 16px;
    border: 1px solid lightgrey;
   margin-bottom: 300px;
   
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 12px;
  transition: background-color 0.2s ease;
  cursor: pointer;

}
.item:hover {
  background-color: #f0f0f5;
}
.avatar {
  width: 32px;
  height: 32px;
  top: 116;
  left: 20px;
  
  border-radius: 100px;
}

.name {
  
  width: 77px;
  height: 22px;
  top: 13px;
  left: 68px;
  font-size: 09px;
}
