.container {


    width: 200px;
    
  background-color: #f9f9fb;

  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  top: -380px; 
  right: -340px; 
  
  
}

.item {
  display: flex;
  align-items: center;
  /* padding: 10px 16px; */
  padding: 10px;
  gap: 12px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.item:hover {
  background-color: #f0f0f5;
}

.avatar {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 10px;
  color: #333;
  font-weight: 400px;
}
