


.card {
 
  width: 726px;
  height: 481px;
  top: 272px;
  left: 357px;
  border-radius: 16px;
  background-color: white;
}
.fram1 {
  position: absolute;
  top: 10px;      
  right: 10px;   
  width: 30px;    
  height: auto;
  margin-right: 310px;
  margin-top: 80px;
}

.img2 {
  width: 237.93px;
  height: 160.85px;
  top: 116.82;
  left: 601px;
  margin-left: 230px;
  margin-top: 30px;
}
.input {
    display: flex;
  width: 560px;
  height: 90px;
  top: 612px;
  left: 440px;
  gap: 30px;
  margin-left: 80px;
  margin-top: 80px;
}

.title {
  font-size: 32px;
  color: #333;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-align: center;
}
.leftInput {
  background-color: #6F8BDF;
  width: 265px;
  height: 50px;
  border-radius: 13.3px;
  padding-top: 12.26px;
  padding-right: 61.28px;
  padding-bottom: 12.26px;
  padding-left: 61.28px;
  gap: 8.75px;
}
.leftInput input {
  background-color: transparent; 
  border: none;                  
  color: #fff;               
  outline: none;                 
}
.leftInput input::placeholder {
  color: #fff;
  opacity: 1; 
}
.rightInput {
    background-color: white;
  width: 265px;
  height: 50px;
  border-radius: 13.3px;
  padding-top: 12.26px;
  padding-right: 61.28px;
  padding-bottom: 12.26px;
  padding-left: 61.28px;
  gap: 8.75px;
  border: 1px solid #6F8BDF;
}
.rightInput input {
  background-color: transparent; 
  border: none;                  
  color: #fff;                  
  outline: none;                 
}
.rightInput input::placeholder {
  color: #6F8BDF;
  opacity: 1; 
}