body {
    background-color: blur(#7a7a7a);
}

.pageContainer {

    justify-content: center;
    /* text-align: center; */
    width: 1150px;
    height: 549px;
    /* Top: 238px; */
    /* left: 169px; */
    color: Light Grey;
  
    margin: 80px;
    padding: 20px;
    border-radius: 20px;
 
}
.icons {
    color: #F6B21A;
    margin: 10px;
}
.layout {
    width: 235px;
    height: 50px;
    top: 400px;
    left: 24;
   border-radius: 15px;
   padding-top: 13px;
   padding-right: 56px;
   padding-bottom: 13px;
   padding-left: 56px;
   gap: 5px;
   background-color: #6F8BDF;
   color: white;
   
}
.layout2 {
    width: 200px;
    height: 50px;
    Top: 400px;
    left: 288;
    border: 2px solid #6F8BDF;
    border-radius: 15px;
    padding-top: 14px;
    padding-right: 70px;
    padding-bottom: 14px;
    padding-left: 70px;
    gap: 10px;
}
.item2 {
    width: 500px;
    size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #6F8BDF;

}
.footer {
  width: 100%;
  height: 50px;
  background-color: #6F8BDF;
  color: white;
  border-radius: 20px;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 20px;
  
}.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  border-radius: 16px;
  padding: 20px;
  width: 900px;
  margin: 50px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}


.imageSection {
  flex: 1;
  background: #e6e6e6;
  height: 420px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 width: 900px;
  
}

.imagePlaceholder {
  width: 120px;
  height: 120px;
  background-color: #d0d0d0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7a7a7a;
  font-size: 36px;
}



.contentSection {
  flex: 1.2;
  background: white;
  border-radius: 16px;
  padding: 25px;
  margin-left: 20px;
  position: relative;

}
.crossIcon {
    height: 40px;
    width: 40px;
    margin-left: 520px;
   

    

}


.genre {
  color: #888;
  font-size: 14px;
  margin-bottom: 5px;
}

.novelTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
}

.author {
  color: #6f8bdf;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 15px;
}

.description {
  color: #555;
  line-height: 1.6;
  font-size: 14px;
}

.stats {
  display: flex;
  gap: 20px;
  color: #f6b21a;
  margin: 15px 0;
  font-weight: 500;
}

.icon {
  margin-right: 5px;
  vertical-align: middle;
}


.buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.prevBtn {
  background-color: #6f8bdf;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  cursor: pointer;
}

.enterBtn {
  background: transparent;
  border: 2px solid #6f8bdf;
  border-radius: 12px;
  padding: 12px 20px;
  cursor: pointer;
  color: #6f8bdf;
  font-weight: 500;
}

.footerBtn {
  margin-top: 20px;
  background-color: #6f8bdf;
  color: white;
  border-radius: 12px;
  text-align: center;
}

.footerBtn Button {
  background: none;
  border: none;
  color: white;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.arrowBtn {
  background-color: #6f8bdf;
  border: none;
  color: white;
  font-size: 22px;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.leftArrow {
  left: -30px;
}

.rightArrow {
  right: -30px;
}



