/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* :root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #6d28d9;
  --second-color: #6e3ac2;
  --first-color-light: #fdfdfd;
  --white-color: #f7f6fb;

  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.primary-btn {
  background-color: var(--first-color);
  outline: none;
  border: none;
}

.primary-btn:hover {
  background-color: var(--second-color);
  outline: none;
  border: none;
}

.login {
  min-height: 100vh;
} */

/* .bg-image {
  background-image: url("./assets/grad.jpg");
  background-size: cover;
  background-position: center;
} */

/* .login-heading {
  font-weight: 300;
} */

/* .btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}  */


/* html, body {
  overflow-x: auto !important; 
  overflow-y: auto !important;  
} */



/* Chrome, Edge, Safari */
/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
} */
/* ::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
} */
/* ::-webkit-scrollbar-thumb:hover {
  background-color: #555;
} */

/* Firefox */
/* * {
  scrollbar-width: auto;
  scrollbar-color: #888 #f1f1f1;
} */

/* Writer Home */
/* .side-main{
  display: flex;
} */
/* .main{
  flex: 1;
  padding: "20px";
} */

/* .App {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
} */
